@import "../base";

.enter {
  opacity: 0;
  transform: translateX(-100%);
}
.enterActive {
  opacity: 1;
  transform: translateX(0%);
}
.exit {
  opacity: 1;
  transform: translateX(0%);
}
.exitActive {
  opacity: 0;
  transform: translateX(100%);
}
.enterActive,
.exitActive {
  transition: opacity $medium-transition, transform $medium-transition;
}
