@import "base";

.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  margin: 0.25em;
  padding: 0.8em 1.5em;
  text-align: center;
  border-radius: 0.28571429rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.1s ease, background-color 0.3s ease, color 0.1s ease,
    box-shadow 0.1s ease;
  -webkit-tap-highlight-color: transparent;

  color: inherit;

  background: transparent none;

  box-shadow: 0 0 0 1px $gray-100 inset;

  &:active,
  &:hover,
  &:focus {
    color: inherit;
    box-shadow: 0 0 0 1px $gray-300 inset, 0 0 0 0 $gray-300 inset;
  }
}

.primary {
  background-color: $secondary-color;
  color: $white;

  box-shadow: none;

  &:active,
  &:hover,
  &:focus {
    background-color: lighten($secondary-color, 4%);
    color: $white;
    box-shadow: none;
  }
}

.fluid {
  width: 100%;
}
