@import "variables";

.header {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding: 6px 20px;

  background-color: $primary-color;
  color: white;
}

.header::before {
  content: "";

  height: 0px;

  position: absolute;

  left: 50%;
  width: 160vw;
  overflow-x: hidden;
  border-radius: 50%;
  background: inherit;
  transform: translateX(-50%) translateY(50%);
  bottom: 0px;

  transition: height $medium-transition ease-out;

  @media screen and (max-width: 800px) {
    width: 220vw;
  }

  @media screen and (max-width: 400px) {
    width: 300vw;
  }
}

.extendedHeader::before {
  height: 1000px;
}

.logoContainer {
  display: flex;
  align-items: center;

  font-size: 1.4rem;

  color: white;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    color: white;
    text-decoration: underline;
  }
}

.logo {
  height: 50px;
  width: auto;
  margin-right: 8px;
  z-index: 3;
}

.about {
  display: flex;
  align-items: center;

  z-index: 3;
}
