@import "variables";

.header {
  display: flex;

  top: 0;

  padding: 6px 20px;

  background-color: $primary-color;
  color: white;

  z-index: 2;
}

.title {
  display: flex;
  align-items: center;

  font-size: 1.4rem;

  color: white;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    color: white;
    text-decoration: underline;
  }
}

.logo {
  height: 50px;
  width: auto;
  margin-right: 8px;
}
