@import "variables";

.navigation {
  position: -webkit-sticky; /* Safari */
  position: sticky;

  z-index: 2;

  top: 0;
  justify-content: center;

  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  list-style: none;
  padding: 6px;

  box-shadow: 1px 1px 6px $gray-300;

  background: $white;
  color: $gray-900;

  transition: box-shadow $short-transition linear $medium-transition-delay,
    color $short-transition linear $short-transition-delay,
    background $short-transition linear $long-transition-delay;
}

.extendedNavigation {
  background: transparent;

  box-shadow: none;

  color: $gray-100;
}

.selectors {
  display: flex;
  flex-direction: row;

  align-items: center;
  text-align: center;

  padding: 6px;
}

.selector {
  display: inline-block;
  margin: 0 0.2rem;
}

.arrow {
  display: inline-block;
  margin: 0 0.4rem 0 0.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  list-style: none;

  height: auto;
  max-height: 350px;

  transition: max-height $short-transition cubic-bezier(1, -0.02, 0, 0.42),
    opacity $short-transition;

  max-width: 1000px;
}

.hiddenSection {
  opacity: 0;
  max-height: 0px;

  overflow: hidden;
}

.sectionContent {
  padding: 1rem;
}

.cta {
  padding: 2rem;
}

.title {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.subtitle {
  font-size: 1.6rem;
  line-height: 2rem;
  padding-bottom: 1rem;
}

.text {
  font-size: 1.2rem;
  line-height: 2rem;

  padding-bottom: 1rem;
}

@media screen and (max-width: 320px) {
  .title {
    padding-top: 1rem;

    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .subtitle {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .text {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
