.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listActions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.listItem {
  min-width: 180px;
  margin: 4px;
}
