// colors
// https://coolors.co/1b1b1b-bc6c69-d6cfc9-f2e8e5-a9ba9d
// https://palx.jxnblk.com/

$primary-color: #ed553b;
$secondary-color: #3caea3;

$black: #000000;
$gray-900: #374047;
$gray-700: #7f8b93;
$gray-500: #adb4b9;
$gray-300: #cfd3d7;
$gray-100: #eceeef;
$white: #ffffff;
