@import "variables";

.vocabularyList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 20px auto;

  max-width: 1000px;

  opacity: 1;
  transition: opacity $medium-transition linear $short-transition-delay;
}

.hiddenVocabularyList {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.notFound {
  color: $gray-900;

  font-size: 1.2rem;
  line-height: 1.4rem;

  text-align: center;

  margin-top: 80px;
}
